@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary font-sans text-theme-light-text-primary dark:text-theme-dark-text-primary;
} 

* {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}